body {
    background: rgb(45,45,45);
    color: white;
    font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}

div { padding: 0; margin: 0; }

#wrap {
  margin: 0 2em;
}

ul.liblist {
  padding: 0;
}

ul.liblist ul {
  padding-left: 25px;
}
ul.liblist li {
  list-style: none;
  margin-left: 0px;
}

li.Clip {
  width: 190px;
  height: 160px;
  border: 3px solid rgb(165,165,165);
  margin: 6px;
  float: left;
  padding: 0;
}

li.Clip img {
 width: 190px;
 height: 130px;
 display: block;
 margin-bottom: 0px;
}

li.Clip i.sc, li.Clip i.sce {
    display: block;
    padding: 0;
    margin: 0;
    background: rgb(132,132,132);
    height: 3px;
    border-top: 1px solid rgb(65,65,65);
    border-bottom: 1px solid rgb(65,65,65);
}

li.Clip i.sce {
    background: rgb(231,198,49);
}

li.Clip b {
    display: block;
    padding: 4px;
    line-height: 120%;
    background: rgb(65,65,65);
    height: 16px;
    font-weight: normal;
    border: 1px solid rgb(0,0,0);
    overflow: hidden;
}

li.Clip.sel b {
    background-color: rgb(231,198,49);
    color: black;
    overflow: hidden;
}

li.Reel, li.Library, li.desktop, li.BackupSet {
    display: block;
    list-style: none;
    padding-left: 12px;
    background: rgb(45,45,45);
    overflow: auto;
    margin: 0;
    margin-top: -1px;
}

li.Reel a.hd,
li.Library a.hd,
li.BackupSet a.hd {
   display: block;
   border: 1px solid black;
   margin-left: -12px;
   background: url("disclosure-common-closed.png") 0 50% no-repeat rgb(65,65,65);
   padding: 4px;
   padding-left: 50px;
   line-height: 140%;
   color: white;
}

li.Reel a.hd.open,
li.Library a.hd.open,
li.BackupSet a.hd.open {
  background-image: url('disclosure-common-open.png');
}

li.Reel a.hd {
  background-image: url('disclosure-Reel-closed.png');
}

li.Reel a.hd.open {
  background-image: url('disclosure-Reel-open.png');
}

li.Desktop a.hd {
  background-image: url("disclosure-desk.png");
}

li.Desktop a.hd.open {
  background-image: url("disclosure-desk-open.png");
}